**Accelerometer is a device used to measure the acceleration or vibrations of a motion. The data provided by an accelerometer is three-dimensional and can be used in data-driven applications for solving problems like fall detection and health monitoring.**

In [1]:
import numpy as np
import pandas as pd

In [2]:
import zipfile
with zipfile.ZipFile('/content/Acc-Data.zip') as zip_file:
    file_list = zip_file.namelist()

file_list

['Acc Data/', 'Acc Data/accdata.csv', '__MACOSX/Acc Data/._accdata.csv']

In [3]:
import pandas as pd
with zipfile.ZipFile('/content/Acc-Data.zip') as zip_file:
    df = pd.read_csv(zip_file.open('Acc Data/accdata.csv'))

In [4]:
df

             Date      Time   accel_x   accel_y   accel_z
0      2022-09-03  23:35:16 -1.838747  3.543418  9.126697
1      2022-09-03  23:35:31  1.110910  1.810017  9.634268
2      2022-09-03  23:35:47  8.829816  0.833182  4.663905
3      2022-09-03  23:36:52 -0.852336 -0.124498  9.787497
4      2022-09-03  23:37:44 -0.900220 -0.095768  9.835381
...           ...       ...       ...       ...       ...
27932  2022-09-17  23:35:31 -3.706224  7.556100 -4.845864
27933  2022-09-17  23:36:12 -0.296881  0.430956  9.749189
27934  2022-09-17  23:36:27 -0.785298  0.603339  9.931149
27935  2022-09-17  23:36:42  0.229843  0.986411  9.854534
27936  2022-09-17  23:36:57 -0.134075  1.254562  9.758766

[27937 rows x 5 columns]

In [5]:
df.columns

Index(['Date', 'Time', 'accel_x', 'accel_y', 'accel_z'], dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27937 entries, 0 to 27936
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     27937 non-null  object
 1   Time     27937 non-null  object
 2   accel_x  27937 non-null  float64
 3   accel_y  27937 non-null  float64
 4   accel_z  27937 non-null  float64
dtypes: float64(3), object(2)
memory usage: 1.1+ MB

In [7]:
df.describe()

            accel_x       accel_y       accel_z
count  27937.000000  27937.000000  27937.000000
mean       0.780857      0.964171      5.648214
std        3.371547      4.768724      5.609732
min      -21.739351    -35.549107    -63.858147
25%       -0.076614     -0.191536      1.953669
50%        0.411803      0.392649      8.925584
75%        1.599327      3.667917      9.844957
max       21.116859     21.231781     23.702597

In [8]:
df.isna().sum()

Date       0
Time       0
accel_x    0
accel_y    0
accel_z    0
dtype: int64

In [10]:
df.duplicated().sum()

0

creating a new feature to represent the magnitude of the acceleration vector:

In [11]:
df['accel_mag'] = (df['accel_x'] ** 2 + df['accel_y'] ** 2 + df['accel_z'] ** 2) ** 0.5

In [12]:
df.columns

Index(['Date', 'Time', 'accel_x', 'accel_y', 'accel_z', 'accel_mag'], dtype='object')

In [13]:
df.isna().sum()

Date         0
Time         0
accel_x      0
accel_y      0
accel_z      0
accel_mag    0
dtype: int64

In [14]:
df.duplicated().sum()

0

In [15]:
df['Date'].unique()

array(['2022-09-03', '2022-09-04', '2022-09-05', '2022-09-06',
       '2022-09-07', '2022-09-08', '2022-09-09', '2022-09-10',
       '2022-09-11', '2022-09-12', '2022-09-13', '2022-09-14',
       '2022-09-15', '2022-09-16', '2022-09-17'], dtype=object)

The above data is from SEPTEMBER-3 to SEPTEMBER-17

In [18]:
writer = pd.ExcelWriter('Accelerometer data analysis.xlsx')

In [19]:
df.to_excel(writer)

In [20]:
writer.save()
print('DataFrame is written successfully to Excel File.')

<ipython-input-20-a23b5e58f680>:1: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

DataFrame is written successfully to Excel File.

**Now, for visiualization i am using tableau tool**

https://public.tableau.com/views/Accelerometerdataanalysis/Dashboard1?:language=en-GB&publish=yes&:display_count=n&:origin=viz_share_link

# Summary

Accelerometer is a device used to measure the acceleration or vibrations of a motion. The data provided by an accelerometer is three-dimensional and can be used in data-driven applications for solving problems like fall detection and health monitoring.