In [15]:
import numpy as np
import pandas as pd

In [16]:
import zipfile
with zipfile.ZipFile('/content/acquisition_data (1).zip') as zip_file:
    file_list = zip_file.namelist()

file_list

['customer_acquisition_data.csv', '__MACOSX/._customer_acquisition_data.csv']

In [17]:

import pandas as pd
with zipfile.ZipFile('/content/acquisition_data (1).zip') as zip_file:
    df = pd.read_csv(zip_file.open('customer_acquisition_data.csv'))

In [18]:
df

     customer_id           channel       cost  conversion_rate  revenue
0              1          referral   8.320327         0.123145     4199
1              2  paid advertising  30.450327         0.016341     3410
2              3   email marketing   5.246263         0.043822     3164
3              4      social media   9.546326         0.167592     1520
4              5          referral   8.320327         0.123145     2419
..           ...               ...        ...              ...      ...
795          796      social media   9.546326         0.167592     2813
796          797   email marketing   5.246263         0.043822     3439
797          798      social media   9.546326         0.167592     2101
798          799  paid advertising  30.450327         0.016341      813
799          800   email marketing   5.246263         0.043822     4820

[800 rows x 5 columns]

In [19]:
df.columns

Index(['customer_id', 'channel', 'cost', 'conversion_rate', 'revenue'], dtype='object')

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customer_id      800 non-null    int64
 1   channel          800 non-null    object
 2   cost             800 non-null    float64
 3   conversion_rate  800 non-null    float64
 4   revenue          800 non-null    int64
dtypes: float64(2), int64(2), object(1)
memory usage: 31.4+ KB

In [21]:
df.describe()

       customer_id        cost  conversion_rate      revenue
count     800.0000  800.000000       800.000000   800.000000
mean      400.5000   13.148052         0.086305  2769.151250
std       231.0844    9.922337         0.059611  1259.543706
min         1.0000    5.246263         0.016341   500.000000
25%       200.7500    5.246263         0.043822  1694.000000
50%       400.5000    8.320327         0.043822  2764.000000
75%       600.2500    9.546326         0.123145  3824.250000
max       800.0000   30.450327         0.167592  4998.000000

In [22]:
df.isna().sum()

customer_id        0
channel            0
cost               0
conversion_rate    0
revenue            0
dtype: int64

In [23]:
df['channel'].unique()

array(['referral', 'paid advertising', 'email marketing', 'social media'],
      dtype=object)

In [24]:
df.duplicated().sum()

0

In [25]:
writer = pd.ExcelWriter('Customer lifetime value analysis.xlsx')

In [26]:
df.to_excel(writer)

In [27]:
writer.save()
print('DataFrame is written successfully to Excel File.')

DataFrame is written successfully to Excel File.

<ipython-input-27-a23b5e58f680>:1: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

**For visiualization we are using Tableau tool**

https://public.tableau.com/views/customerlifetimevalueanalysis/Customerlifetimevalueanalysis?:language=en-GB&publish=yes&:display_count=n&:origin=viz_share_link

Summary
Customer lifetime value analysis is used to estimate the total value of customers to the business over the lifetime of their relationship. It helps companies determine how much to invest in customer acquisition and retention, as well as identify the most valuable customers to prioritize for retention efforts.