In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/amankharwal/Website-data/master/dataset.csv')

In [3]:
df.sample(10)

                                                    Text  language
10161  marino anesa dizionario della musica italiana ...     Dutch
7722   riigi peamised ekspordiartiklid on banaanid ja...  Estonian
6865   dizinin  sezonunda joseph morganphoebe tonkind...   Turkish
3363   bussy-saint-georges pronounced [bysi sɛ̃ ʒɔʁʒ]...   English
16286  a jucat în trei din cele patru meciuri de cali...  Romanian
436    허리케인 이오케는 북중태평양에서 생긴 사피어-심프슨 허리케인 등급 제등급인 태풍 개...    Korean
5009   in  page began purchasing properties and teari...   English
15503   تندیس و دیپلم افتخار جشنواره مطبوعات کود ک و ...   Persian
19722  евразийская экономическая комиссия еэк — посто...   Russian
1081   その独特のスタイルと精密なディテール、劇中での爽快な活躍から模型ファンの人気も高い機体だが、...  Japanese

In [4]:
df.shape

(22000, 2)

In [5]:
df.isna().sum()

Text        0
language    0
dtype: int64

In [6]:
df['language'].value_counts()

Estonian      1000
Swedish       1000
English       1000
Russian       1000
Romanian      1000
Persian       1000
Pushto        1000
Spanish       1000
Hindi         1000
Korean        1000
Chinese       1000
French        1000
Portugese     1000
Indonesian    1000
Urdu          1000
Latin         1000
Turkish       1000
Japanese      1000
Dutch         1000
Tamil         1000
Thai          1000
Arabic        1000
Name: language, dtype: int64

This dataset contains 22 languages with 1000 sentences from each language.

In [7]:
x=np.array(df['Text'])
y=np.array(df['language'])

In [8]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()

In [9]:
X=cv.fit_transform(x)

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [11]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.9537878787878787

Now let’s use this model to detect the language of a text by taking a user input:

In [12]:
user = input("Enter a Text: ")
data = cv.transform([user]).toarray()
output = model.predict(data)
print(output)

Enter a Text:  देखकर अच्छा लगता है
['Hindi']