In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv('/content/t20-world-cup-22.csv')

In [ ]:
df.head(10)

,venue,team1,team2,stage,toss winner,toss decision,first innings score,first innings wickets,second innings score,second innings wickets,winner,won by,player of the match,top scorer,highest score,best bowler,best bowling figure
0,SCG,New Zealand,Australia,Super 12,Australia,Field,200.0,3.0,111.0,10.0,New Zealand,Runs,Devon Conway,Devon Conway,92.0,Tim Southee,3-6
1,Optus Stadium,Afghanistan,England,Super 12,England,Field,112.0,10.0,113.0,5.0,England,Wickets,Sam Curran,Ibrahim Zadran,32.0,Sam Curran,5-10
2,Blundstone Arena,Ireland,Sri lanka,Super 12,Ireland,Bat,128.0,8.0,133.0,1.0,Sri lanka,Wickets,Kusal Mendis,Kusal Mendis,68.0,Maheesh Theekshana,2-19
3,MCG,Pakistan,India,Super 12,India,Field,159.0,8.0,160.0,6.0,India,Wickets,Virat Kohli,Virat Kohli,82.0,Hardik Pandya,3-30
4,Blundstone Arena,Bangladesh,Netherlands,Super 12,Netherlands,Field,144.0,8.0,135.0,10.0,Bangladesh,Runs,Taskin Ahmed,Colin Ackermann,62.0,Taskin Ahmed,4-25
5,Blundstone Arena,Zimbabwe,South Africa,Super 12,Zimbabwe,Bat,79.0,5.0,51.0,0.0,NaN,NaN,NaN,Quinton de Kock,47.0,Lungi Ngidi,2-20
6,Optus Stadium,Sri lanka,Australia,Super 12,Australia,Field,157.0,6.0,158.0,3.0,Australia,Wickets,Marcus Stoinis,Marcus Stoinis,59.0,Glenn Maxwell,1-5
7,MCG,Ireland,England,Super 12,England,Field,157.0,10.0,105.0,5.0,Ireland,Runs,Andrew Balbirnie,Andrew Balbirnie,62.0,Liam Livingstone,3-17
8,MCG,New Zealand,Afghanistan,Super 12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,SCG,South Africa,Bangladesh,Super 12,South Africa,Bat,205.0,5.0,101.0,10.0,South Africa,Runs,Rilee Rossouw,Rilee Rossouw,109.0,Anrich Nortje,4-10

In [ ]:
df.shape

(33, 17)

In [ ]:
df.describe()

,first innings score,first innings wickets,second innings score,second innings wickets,highest score
count,30.000000,30.000000,30.000000,30.000000,30.000000
mean,153.366667,6.866667,130.800000,6.233333,64.066667
std,30.440992,2.096521,25.511863,3.013571,17.264541
min,79.000000,2.000000,51.000000,0.000000,32.000000
25%,134.000000,5.250000,113.500000,5.000000,52.500000
50%,157.000000,7.500000,136.000000,6.000000,62.000000
75%,179.000000,8.000000,147.750000,9.000000,70.250000
max,205.000000,10.000000,170.000000,10.000000,109.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   venue                   33 non-null     object
 1   team1                   33 non-null     object
 2   team2                   33 non-null     object
 3   stage                   33 non-null     object
 4   toss winner             30 non-null     object
 5   toss decision           30 non-null     object
 6   first innings score     30 non-null     float64
 7   first innings wickets   30 non-null     float64
 8   second innings score    30 non-null     float64
 9   second innings wickets  30 non-null     float64
 10  winner                  29 non-null     object
 11  won by                  29 non-null     object
 12  player of the match     29 non-null     object
 13  top scorer              30 non-null     object
 14  highest score           30 non-null     float64
 15  best bowler             30 non-null     object
 16  best bowling figure     30 non-null     object
dtypes: float64(5), object(12)
memory usage: 4.5+ KB

In [ ]:
df.isna().sum()

venue                     0
team1                     0
team2                     0
stage                     0
toss winner               3
toss decision             3
first innings score       3
first innings wickets     3
second innings score      3
second innings wickets    3
winner                    4
won by                    4
player of the match       4
top scorer                3
highest score             3
best bowler               3
best bowling figure       3
dtype: int64

In [ ]:
df['venue'].value_counts()

SCG                 7
MCG                 7
Adelaide Oval       7
Optus Stadium       5
The Gabba           4
Blundstone Arena    3
Name: venue, dtype: int64

In [ ]:
df['team1'].value_counts()

New Zealand     5
India           5
Afghanistan     3
Pakistan        3
Bangladesh      3
Zimbabwe        3
Australia       3
Ireland         2
Sri lanka       2
Netherlands     2
South Africa    1
England         1
Name: team1, dtype: int64

In [ ]:
df['team2'].value_counts()

England         6
South Africa    4
Pakistan        4
Sri lanka       3
Netherlands     3
Ireland         3
Australia       2
Afghanistan     2
Bangladesh      2
Zimbabwe        2
India           1
New Zealand     1
Name: team2, dtype: int64

In [ ]:
df['stage'].value_counts()

Super 12      30
Semi-final     2
Final          1
Name: stage, dtype: int64

In [ ]:
df['toss winner'].value_counts()

England         5
India           4
Ireland         3
Zimbabwe        3
Bangladesh      3
Australia       2
Netherlands     2
South Africa    2
New Zealand     2
Afghanistan     2
Pakistan        1
Sri lanka       1
Name: toss winner, dtype: int64

In [ ]:
df['toss decision'].value_counts()

Bat      17
Field    13
Name: toss decision, dtype: int64

In [ ]:
df['won by'].value_counts()

Runs       16
Wickets    13
Name: won by, dtype: int64

In [ ]:
df['player of the match'].value_counts()

Virat Kohli          2
Taskin Ahmed         2
Suryakumar Yadav     2
Shadab Khan          2
Sam Curran           2
Devon Conway         1
Jos Buttler          1
Mohammad Rizwan      1
Shaheen Afridi       1
Colin Ackermann      1
Adil Rashid          1
Glenn Maxwell        1
Kane Williamson      1
Max O'Dowd           1
Lungi Ngidi          1
Wanindu Hasaranga    1
Aaron Finch          1
Glenn Phillips       1
Sikandar Raza        1
Rilee Rossouw        1
Andrew Balbirnie     1
Marcus Stoinis       1
Kusal Mendis         1
Alex Hales           1
Name: player of the match, dtype: int64

In [ ]:
df['top scorer'].value_counts()

Virat Kohli         3
Mohammad Rizwan     2
Colin Ackermann     2
Najmul Hossain      2
Suryakumar Yadav    2
Lorcan Tucker       1
Alex Hales          1
Pathum Nissanka     1
Glenn Maxwell       1
Kane Williamson     1
Shadab Khan         1
Max O'Dowd          1
Jos Buttler         1
de Silva            1
Devon Conway        1
Ibrahim Zadran      1
Glenn Phillips      1
Shan Masood         1
Rilee Rossouw       1
Andrew Balbirnie    1
Marcus Stoinis      1
Quinton de Kock     1
Kusal Mendis        1
Ben Stokes          1
Name: top scorer, dtype: int64

In [ ]:
df['best bowler'].value_counts()

Sam Curran             3
Shaheen Afridi         2
Taskin Ahmed           2
Lungi Ngidi            2
Anrich Nortje          2
Tim Southee            1
Wanindu Hasaranga      1
Ravichandran Ashwin    1
Brandon Glover         1
Mark Wood              1
Naveen-ul-Haq          1
Lockie Ferguson        1
Hasan Mahmud           1
Paul van Meekeren      1
Shadab Khan            1
Barry McCarthy         1
Trent Boult            1
Mohammad Wasim         1
Bhuvneshwar Kumar      1
Liam Livingstone       1
Glenn Maxwell          1
Hardik Pandya          1
Maheesh Theekshana     1
Chris Jordan           1
Name: best bowler, dtype: int64

In [ ]:
df['best bowling figure'].value_counts()

3-22    3
3-29    2
2-19    2
3-6     1
3-43    1
2-24    1
4-22    1
3-9     1
3-26    1
3-21    1
4-41    1
3-47    1
2-26    1
3-13    1
4-29    1
5-10    1
3-19    1
4-13    1
4-24    1
4-10    1
3-17    1
1-5     1
2-20    1
4-25    1
3-30    1
3-12    1
Name: best bowling figure, dtype: int64

The Visiualization of this problem is done on tableau tool

https://public.tableau.com/views/T20WorldCup2022Analysis/T20WorldCup2022Analysis?:language=en-US&publish=yes&:display_count=n&:origin=viz_share_link

# **Summary**

So some highlights of the t20 world cup 2022 we found from our analysis are:


1.  England won the most number of matches

1.  Virat Kohli scored highest in the most number of matches

1.   
Sam Curran was the best bowler in the most number of matches

1.   More teams won by batting first
2.  More teams decided to bat first


6. SCG was the best stadium to bat first


7.   
SCG was the best stadium to defend the target in the World Cup


8.   
The Optus Stadium was the best stadium to bowl first